.App {
  text-align: center;
}

button {
  background-color: #FFF;
  border-style: solid;
  border-color: #000;
  font-size: 16px;
  font-style: bold;
  padding: 5px 10px;
  margin-bottom: 20px;
}

button:hover {
  background-color: cyan;
}

.board {
  display: block;
}

.row {
  display: block;
}

.row:not(first-child) {
  margin-top: -4px; /* display: inline-block fix */
}

.square {
  display: inline-block;
  width: 20vmin;
  height: 20vmin;
  border: 1vmin solid black;
  overflow: hidden;
}

.square:nth-child(1) {
  border-left: none;
}

.square:nth-child(3) {
  border-right: none;
}

.row:nth-child(1) .square {
  border-top: none;
}

.row:nth-child(3) .square {
  border-bottom: none;
}
